__pycache__/
*.py[cod]
*$py.class

.env
env/
.venv
*venv/
session.txt
.vscode/
.idea/
agents/*
models/*
llama.cpp
node_modules
memories/*
WORKSPACE/*
*.util.py
frontend/
Agent-LLM-Frontend/
*.code-workspace
src/
conversations/
# probably mounted data
agixt/extensions/DevXT_LLC_xtsystems_extensions/*
agixt/agents/*
agixt/data/*
agixt/WORKSPACE/*
agixt/models/*
agixt/conversations
agixt/.github
agixt/prompts/private
agixt/agents
agixt/LICENSE
agixt/README.md
agixt/hub_main.zip
agixt/*_main.zip
tests/qr.png
tests/sample*
# docs generation
_book/
streamlit/
# 3rd party
package.json
package-lock.json
*cookies.json
data/
agents/
memories/
text-generation-webui/
# testing
**/.ipynb_checkpoints/
test.ipynb
responses.json
josh.yml
ezlocalai
pull_request.md
secrets.py
tickets.py
contacts.py
activity_log.py
assets.py
xtsystems_extensions/*
web/*
mobile/*
agixt.egg-info/