__pycache__/
*.py[cod]
*$py.class

.env
env/
.venv
*venv/

.vscode/
.idea/

models/*
llama.cpp
node_modules
memories/*
WORKSPACE/*
*.util.py
agents/*
src/*
frontend/
Agent-LLM-Frontend/
*.code-workspace
chains/*/*
data/*

# docs generation
docs/SUMMARY.md
_book/
package.json
package-lock.json
