pyodbc
pyvirtualdisplay
requests-toolbelt
solana
base58
solders
pypandoc
requests-oauthlib
blinkpy>=0.23.0
ring_doorbell>=0.9.13
aiohttp
hikvisionapi>=0.3.2
azure-ai-inference
djitellopy
axis
google-ads==28.0.0