services:
  postgres:
    image: postgres
    ports:
      - ${AGIXTDB_PORT:-5432}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    volumes:
      - ./models/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER:-postgres}"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
  redis:
    image: redis:alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  minio:
    image: minio/minio
    ports:
      - "${MINIO_API_PORT:-9000}:9000"
      - "${MINIO_CONSOLE_PORT:-9001}:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY:-minioadmin}
    command: server --console-address ":9001" /data
    volumes:
      - ./s3:/data:rw
  agixt:
    image: joshxt/agixt:main
    init: true
    restart: unless-stopped
    environment:
      AGIXT_API_KEY: ${AGIXT_API_KEY:-None}
      AGIXT_URI: ${AGIXT_URI:-http://localhost:7437}
      APP_URI: ${APP_URI:-http://localhost:3437}
      AGENT_NAME: ${AGIXT_AGENT:-XT}
      DATABASE_TYPE: ${DATABASE_TYPE:-postgres}
      DATABASE_NAME: ${DATABASE_NAME:-postgres}
      DATABASE_HOST: ${DATABASE_HOST:-postgres}
      DATABASE_PORT: ${DATABASE_PORT:-5432}
      DATABASE_USER: ${DATABASE_USER:-postgres}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD:-postgres}
      REDIS_HOST: ${REDIS_HOST:-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}
      STORAGE_BACKEND: ${STORAGE_BACKEND:-s3}
      STORAGE_CONTAINER: ${STORAGE_CONTAINER:-agixt-workspace}
      S3_BUCKET: ${S3_BUCKET:-agixt-workspace}
      S3_ENDPOINT: ${S3_ENDPOINT:-http://minio:9000}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-minioadmin}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-minioadmin}
      AWS_STORAGE_REGION: ${AWS_STORAGE_REGION:-us-east-1}
      UVICORN_WORKERS: ${UVICORN_WORKERS:-20}
      WORKING_DIRECTORY: ${WORKING_DIRECTORY:-./WORKSPACE}
      TOKENIZERS_PARALLELISM: "false"
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
      DISCORD_WEBHOOK: ${DISCORD_WEBHOOK}
      ROTATION_EXCLUSIONS: ${ROTATION_EXCLUSIONS}
      SUPERADMIN_EMAIL: ${SUPERADMIN_EMAIL}
    ports:
      - "${AGIXT_PORT:-7437}:7437"
    volumes:
      - ./models:/agixt/models
      - ${WORKING_DIRECTORY:-./WORKSPACE}:/agixt/WORKSPACE
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - minio
      - postgres
      - redis
  agixtinteractive:
    image: joshxt/agixt-interactive:main
    environment:
      NEXT_TELEMETRY_DISABLED: 1
      APP_NAME: ${APP_NAME:-AGiXT}
      AGIXT_SERVER: ${AGIXT_URI:-http://agixt:7437}
      APP_URI: ${APP_URI:-http://localhost:3437}
    ports:
      - "${AGIXT_WEB_PORT:-3051}:3437"
