services:
  db:
    image: postgres
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    volumes:
      - ./data:/var/lib/postgresql/data
  agixt:
    image: joshxt/agixt:latest
    init: true
    environment:
      - DB_CONNECTED=false
      - UVICORN_WORKERS=${UVICORN_WORKERS:-4}
      - AGIXT_HUB=${AGIXT_HUB:-AGiXT/light-hub}
      - GITHUB_USER=${GITHUB_USER}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - TOKENIZERS_PARALLELISM=False
    ports:
      - "7437:7437"
    volumes:
      - ./models:/model
      - ./agents:/agixt/agents
      - ./chains:/agixt/chains
      - ./prompts:/agixt/prompts
      - ./WORKSPACE:/agixt/WORKSPACE
  streamlit:
    image: joshxt/streamlit:latest
    depends_on:
      - agixt
    environment:
      - AGIXT_HUB=${AGIXT_HUB:-AGiXT/light-hub}
      - AGIXT_URI=${AGIXT_URI:-http://agixt:7437}
    ports:
      - "8501:8501"
  text-generation-webui:
    build:
      context: text-generation-webui/.
      dockerfile: docker/Dockerfile
      args:
        # specify which cuda version your card supports: https://developer.nvidia.com/cuda-gpus
        TORCH_CUDA_ARCH_LIST: ${TORCH_CUDA_ARCH_LIST:-7.5}
        WEBUI_VERSION: ${WEBUI_VERSION:-HEAD}
    environment:
      - CLI_ARGS=${CLI_ARGS}
    ports:
      - "${HOST_PORT:-7860}:${CONTAINER_PORT:-7860}"
      - "${HOST_API_PORT:-5000}:${CONTAINER_API_PORT:-5000}"
      - "${HOST_API_STREAM_PORT:-5005}:${CONTAINER_API_STREAM_PORT:-5005}"
      - "${HOST_API_OPENAI_PORT:-5001}:${CONTAINER_API_OPENAI_PORT:-5001}"
    stdin_open: true
    tty: true
    volumes:
      - ./text-generation-webui/characters:/app/characters
      - ./text-generation-webui/extensions:/app/extensions
      - ./text-generation-webui/loras:/app/loras
      - ./models:/app/models
      - ./text-generation-webui/presets:/app/presets
      - ./text-generation-webui/prompts:/app/prompts
      - ./text-generation-webui/softprompts:/app/softprompts
      - ./text-generation-webui/training:/app/training
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
