version: "3.8"
services:
  agixt:
    image: joshxt/agixt:main
    entrypoint: [ "poetry", "run", "streamlit", "run", "Main.py" ]
    init: true
    ports:
      - "8501:8501"
    volumes:
      - ./agixt/agixt/agents:/agixt/agixt/agents:rw
      - ./agixt/agixt/workspace:/agixt/agix/WORKSPACE:rw
      - ./models:/model:rw
