agixtsdk==0.0.47
safeexecute==0.0.9
google-generativeai==0.4.1
discord==2.3.2
anthropic==0.25.7
arxiv==1.4.8
PyGithub==2.3.0
openai==1.25.2
fastapi
uvicorn
ngrok==1.2.0
faster-whisper==1.0.2
youtube-transcript-api==0.6.2
O365==2.0.34
stripe==9.12.0
google-auth==2.29.0
google-api-python-client==2.125.0
google-auth-oauthlib
python-multipart==0.0.9
nest_asyncio
g4f==0.2.6.2
pyotp
pytz
openpyxl==3.1.4
curl_cffi
PyExecJS
undetected_chromedriver
platformdirs