agixtsdk==0.0.28
safeexecute==0.0.6
g4f==0.1.5.6
local-llm==0.0.14
google-generativeai==0.2.0
discord==2.3.2
anthropic==0.3.11
arxiv==1.4.8
PyGithub==2.1.1
hugchat==0.3.1
bardapi==0.1.38
whisper-cpp-python==0.2.0