chromadb==0.4.13
beautifulsoup4==4.12.2
docker==6.1.3
docx2txt==0.8
fastapi==0.103.2
GitPython==3.1.37
pdfplumber==0.10.2
playwright==1.38.0
pandas==2.1.1
PyYAML==6.0.1
requests==2.31.0
protobuf==3.20.*
uvicorn==0.23.2
python-dotenv==1.0.0
ffmpeg==1.4
cryptography==41.0.4
pillow==10.0.1
SQLAlchemy==2.0.21
psycopg2-binary==2.9.8
openai==0.28.1
gTTS==2.3.2
tiktoken==0.5.1
PyJWT==2.8.0
websocket-client==1.6.3
lxml==4.9.3
tweepy==4.14.0
sendgrid==6.10.0
httpx==0.25.0
numpy==1.26.0