beautifulsoup4==4.12.2
captcha-solver==0.1.5
chromadb==0.3.25
docker==6.1.2
docx2txt==0.8
fastapi==0.95.2
GitPython==3.1.31
InstructorEmbedding==1.0.0
pandas==2.0.1
pdfplumber==0.9.0
playwright==1.33.0
PyYAML==6.0
PyGithub==1.58.2
random-password-generator==2.2.0
requests==2.31.0
spacy==3.5.3
protobuf==3.20.*
uvicorn==0.22.0
webdriver_manager==3.8.6
sentence-transformers==2.2.2
python-dotenv==1.0.0
ffmpeg==1.4
cryptography==41.0.0
pillow==9.5.0
SQLAlchemy==2.0.17
psycopg2==2.9.6
openai==0.27.8
torch==2.0.1
transformers[accelerate]==4.30.1
anthropic==0.2.9
google-api-python-client==2.87.0
google-auth-oauthlib==1.0.0
gTTS==2.3.2
playsound==1.2.2
selenium==4.9.1