version: 1
disable_existing_loggers: false

filters:
  sensitive_data_filter:
    (): logging_config.SensitiveDataFilter

formatters:
  default:
    (): uvicorn.logging.DefaultFormatter
    fmt: "%(levelprefix)s %(message)s"
    use_colors: null
  access:
    (): uvicorn.logging.AccessFormatter
    fmt: '%(levelprefix)s %(client_addr)s - "%(request_line)s" %(status_code)s'

handlers:
  default:
    formatter: default
    class: logging.StreamHandler
    stream: ext://sys.stderr
    filters:
      - sensitive_data_filter
  access:
    formatter: access
    class: logging.StreamHandler
    stream: ext://sys.stdout
    filters:
      - sensitive_data_filter

loggers:
  uvicorn:
    handlers:
      - default
    level: INFO
    propagate: false
  uvicorn.error:
    level: INFO
  uvicorn.access:
    handlers:
      - access
    level: INFO
    propagate: false
