# This workflow will build and publish the docker image to 
# - Github packages
# - Docker hub
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-docker-images

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Versions of plugins are pinned to their major version as long as they use a semVer in a good manner.

name: Publish Docker images

permissions:
  packages: write
  contents: read
  
on:
  release:
    types: [published]
  pull_request:
    branches: ["main"]

jobs:

  call-docker-build:
    uses: localagi/ai-dedicated-workflows/.github/workflows/operation-docker-build-publish.yml@main
    with:
      dockerfile: docker/Dockerfile
      push: ${{ github.event_name == 'release' }}
      registry-readme: ./docs/README.md
      platforms: linux/amd64,linux/arm64/v8
    secrets: inherit

  call-docker-build-streamlit:
    if: github.event_name == 'release'
    uses: localagi/ai-dedicated-workflows/.github/workflows/operation-docker-build-publish.yml@main
    with:
      registry-repo-name: ${{ github.event.repository.name }}-streamlit
      dockerfile: docker/Dockerfile.streamlit
      build-args: |
        FROM_IMAGE=${{needs.call-docker-build.outputs.primary-image}}
      push: ${{ github.event_name == 'release' }}
      registry-readme: ./docs/README.md
      platforms: linux/amd64,linux/arm64/v8
    secrets: inherit
    needs: call-docker-build

  call-docker-build-nvidia:
    if: github.event_name == 'release'
    uses: localagi/ai-dedicated-workflows/.github/workflows/operation-docker-build-publish.yml@main
    with:
      registry-repo-name: ${{ github.event.repository.name }}-nvidia
      dockerfile: docker/Dockerfile.nvidia
      push: ${{ github.event_name == 'release' }}
      registry-readme: ./docs/README.md
    secrets: inherit
    
  call-docker-build-nvidia-streamlit:
    if: github.event_name == 'release'
    uses: localagi/ai-dedicated-workflows/.github/workflows/operation-docker-build-publish.yml@main
    with:
      registry-repo-name: ${{ github.event.repository.name }}-nvidia-streamlit
      dockerfile: docker/Dockerfile.streamlit
      build-args: |
        FROM_IMAGE=${{needs.call-docker-build-nvidia.outputs.primary-image}}
      push: ${{ github.event_name == 'release' }}
      registry-readme: ./docs/README.md
    secrets: inherit
    needs: call-docker-build-nvidia
