# This workflow will build and publish the docker image to 
# - Github packages
# - Docker hub
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-docker-images

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# Versions of plugins are pinned to their major version as long as they use a semVer in a good manner.

name: Publish Docker images

permissions:
  packages: write
  contents: read
  
on:
  release:
    types: [published]
  pull_request:
    branches: ["main"]

jobs:

  call-docker-build:
    uses: ./.github/workflows/operation-docker-build-publish.yml
    with:
      image-name: ${{ github.repository }}
      dockerfile: Dockerfile
    secrets: inherit

  call-docker-build-streamlit-local:
    uses: ./.github/workflows/operation-docker-build-publish.yml
    with:
      image-name: ${{ github.repository }}-local
      dockerfile: Dockerfile.local
      build-args-tag: latest
    secrets: inherit
    needs: call-docker-build
    

  call-docker-build-streamlit:
    uses: ./.github/workflows/operation-docker-build-publish.yml
    with:
      image-name: ${{ github.repository }}-streamlit
      dockerfile: Dockerfile.streamlit
    secrets: inherit

  call-docker-build-streamlit-local:
    uses: ./.github/workflows/operation-docker-build-publish.yml
    with:
      image-name: ${{ github.repository }}-streamlit-local
      dockerfile: Dockerfile.local
      build-args-tag: latest
      build-arg-variant: -streamlit
    secrets: inherit
    needs: call-docker-build-streamlit
