name: Publish Docker image

permissions:
  packages: write
  contents: read

on:
  push:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-agixt:
    uses: josh-xt/AGiXT/.github/workflows/operation-docker-build-publish.yml@main
    with:
      registry-dockerhub-enable: ${{ github.event_name != 'pull_request' }}
      registry-repo-name: AGiXT
      registry-readme: ./docs/README.md
      tags: |
        type=schedule
        type=ref,event=branch
        type=semver,pattern={{version}}
      platforms: linux/amd64,linux/arm64/v8
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
#  test-agixt:
#    uses: josh-xt/AGiXT/.github/workflows/operation-test-with-jupyter.yml@main
#    with:
#      notebook: tests/tests.ipynb
#      image: ${{ needs.build-agixt.outputs.primary-image }}
#      port: "7437"
#      additional-python-dependencies: agixtsdk
#    needs: build-agixt
